.home {
    padding-left: 280px;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
  }
  
  .home h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .home p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  