.sidebar {
  width: 300px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 1rem;
}

.sidebar .nav-link {
  color: #000;
}

.sidebar .nav-link:hover {
  color: #007bff;
  text-decoration: none;
}
